/EfCourse/.vs/EfCourse/config/applicationhost.config
/EfCourse/.vs/EfCourse/DesignTimeBuild/.dtbcache
/EfCourse/.vs/EfCourse/v16/.suo
/EfCourse/.vs/EfCourse/v16/Server/sqlite3/db.lock
/EfCourse/.vs/EfCourse/v16/Server/sqlite3/storage.ide
/EfCourse/.vs/EfCourse/v16/Server/sqlite3/storage.ide-shm
/EfCourse/.vs/EfCourse/v16/Server/sqlite3/storage.ide-wal
/EfCourse/bin/*
/EfCourse/obj/*
